<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hà Văn Bách</title>
</head>
<body>
    <h1>Danh sách sinh viên</h1>
    <ul>
        <% sinhviens.forEach(function(sinhvien){ %>
            <li>
                <%= sinhvien.name%>
                <img src="\uploads\<%= sinhvien.picture %>" alt="">
                <form action="/sinhvien/<%= sinhvien._id %>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
            </li>
            <%}); %>
    </ul>
    <a href="/sinhvien/form">Thêm sinh viên</a>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hà Văn Bách</title>
</head>
<body>
    <h1>Danh sách sinh viên</h1>
    <ul>
        <% sinhviens.forEach(function(sinhvien) { %>
            <li>
                <%= sinhvien.name %>
                <img src="/uploads/<%= sinhvien.picture %>" alt="">
                <form action="/sinhvien/<%= sinhvien._id %>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
    <a href="/sinhvien/form">Thêm sinh viên</a>
</body>
</html>
